*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.row{
    width: 100%;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}


.container{
    width: 80%;
    margin: 0 auto;
    
}
h3{
    float: right;
    background-color: blue;
    padding: 3px;
    border-radius: 5px;
    color: white;

    
}
p{
    clear: both;
    text-align: center;

}
.para{
    width: 80%;
    height: 300px;
    margin: 0 auto;
}
#section{
    background-color: #ffa500;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
   
   
}
@media (min-width: 992px){
    .col-ld4{
        float: left;
        width: 33.33%;
    }
}
@media (min-width:768px and max-width:991px){
    .col-md2{
        float: left;
        width: 50%;
    }
    .col-md1{
        float: left;
        width: 100%;
    }

}
