*{
    box-sizing: border-box;
    font-family: monospace;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
p{
    background-color: #ffa500;
    border: 2px solid black;
    height: 150px;
    margin-left: 10px;
    padding: 30px 10px 5px 10px;
    overflow: auto;
}
.section{
    position: relative;
}
.sec{
    background-color: #0000ff;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 30px;
    width: 120px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.row{
    width: 100%;
}


/* for large screen devices */
@media (min-width: 992px){

    .col-ld4{
        float: left;
        width: 33.33%;
    }
}
/* end large screen devices */


/* for medium screen devices */
@media (min-width:768px) and (max-width:991px){
    .col-md2{
        float: left;
        width: 50%;
    }
    .col-md1{
        float: left;
        width: 100%;
    }

}
/* end medium screen devices */


/* for small screen devices */
@media (max-width: 767px){
    .col-sd1{
        float: left;
        width: 100%;
    }

}
/* end small screen devices */

